<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="{{ .Description }}" />
        <meta name="theme-color" content="#FDD835" />

        <meta property="og:title" content="{{ .Title }}" />
        <meta property="og:site_name" content="{{ .Title }}" />
        <meta property="og:url" content="{{ .URL }}" />
        <meta property="og:description" content="{{ .Description }}" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ .Title }}?" />
        <meta name="twitter:description" content="{{ .Description }}" />
        
        <title>{{ .Title }}</title>

        <link rel="manifest" href="/manifest.json">
        <link rel="apple-touch-icon" href="/images/icon-192x192.png">

        <style>
            body {
                align-items: center;
                background: #212121;
                color: #FAFAFA;
                display: flex;
                font-family: Arial, Helvetica, sans-serif;
                height: 100vh;
                justify-content: center;
                margin: 0;
                padding: 0;
            }

            h1 {
                font-size: 5em;
                font-weight: bold;
                margin: 0 16px;
                text-align: center;
            }

            p {
                font-size: 0.875em;
                line-height: 1.5em;
                margin: 16px 16px 0;
                text-align: center;
                max-width: 500px;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>{{ .Description }}</h1>
            <p>Blue lives do not exist. Police officers willingly chose their profession. When they finish their shift, they clock out, go home and take their badge off. It's a job, not a race. People of color cannot go home and stop being their race; they did not willingly choose to be their race in this world. Blue lives matter is a mockery of an actual, valuable movement.</p>
        </div>
        {{ if .IncludeServiceWorker }}

        <script type="text/javascript">
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js');
            }
        </script>
        {{ end }}
    </body>
</html>
